<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to_do_list_app </title>
</head>
<body>

    <h1>To do list app </h1>
    
    <form action="{{ url_for('home')}} method=">

        <input type="text" placeholder="Enter Todo" id = "input_todo" name=""todo_name">

        <button id = "add-todo"> + </button>

    </form>

    <h2>Todos</h2>

    <div class = "todo-container">
        <div class="todo">

            <p>Write SQL</p>
            <div class="actions">
                <form action="">

                    <input type="checkbox" name="" id="">

                </form>

                <form action="">

                    <button>Delete</button>
                </form>

            </div>


        </div>
    </div>

        

        


    
    </form>
    
</body>
</html>